/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1519px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

/*设置级联选择器框高度*/
.el-cascader-menu {
    height: 200px;
}

/*解决elementui表格 表头和表格内容没有对齐问题*/
.el-table th.gutter {
    display: table-cell !important;
}

.el-step__title {
    font-size: 14px;
}
.ql-editor{
    min-height: 300px;
}
